<li>
  <div>
    <span class="name">
      {{name}}
    </span>
    <div class="actions">
      <a class="settings" href="#">
        <img src="{{settings_image}}">
      </a>
      <a class="display" href="#">
        <img src="{{display_image}}">
      </a>
    </div>
  </div>
</li>
