%li{ :id => "project-#{project['id']}" }
  .div
    %span.name 
      = project['name']
    .actions
      %a.settings{ :href => "#" }
        = image_tag "cog.png"
      %a.display{ :href => "#" }
        = image_tag "publish.png"
