- if @projects

  %ul.projects
  - @projects.each do |project|
    %li
      = project
  %a.button{ :href => new_project_path }
    Add Another Project

- else
  .row.center
    .twelve.columns
      %a.button{ :href => new_project_path }
        Create Your First Project
%h1
  = @user.inspect

%a{ :href => new_project_path }
  Create Your First Project

%div
  = render partial: 'projects/project', collection: @projects, as: :project
