@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700|PT+Sans+Caption:400,700");

///
//font-family: 'PT Sans', sans-serif;
//font-family: 'PT Sans Narrow', sans-serif;
//font-family: 'PT Sans Caption', sans-serif;
//

body {
  background: #012530;
}

.row.full {
  width: 100%;
}

.data-column {
  text-align: center;
  border: solid 1px;
}

.notification {
  text-align: left;
  background: #252f3a;
  font-family: 'PT Sans';
  color: #fafafa;
  overflow: hidden;
  padding: 10px 0 5px;
  position: relative;
}

.hidden {
  opacity: 0;
}

.github-notification {
  border-bottom: solid 6px #162027;

  .avatar {
    width: 15%;
    padding: 8px 10px;
    float: left;
    img {
      width: 65px;
      height: 65px;
      border-radius: 50em;
      border: solid 2px #222;
    }
  }

  .notification-data {
    width: 85%;
    float: left;

    .header {
      margin-top: 5px;
      .type {
        font-weight: 900;
        font-size: 20px;
        float: left;
      }

      .hash {
        border-radius: 10em;
        padding: 3px 10px 1px;
        background: #29394b;
        color: #fff176;
        float: left;
        margin-left: 10px;
        margin-top: 0px;
      }

      .code-change {
        float: right;
        padding-right: 10px;
      }
    }

    .description {
      clear: both;
      color: #b4b4b4;
      font-size: 16px;
    }

    .notification-info {
      bottom: 20px;
      position: absolute;
      padding-bottom: 0;
      margin-bottom: -10px;
      span {
        padding: 0 8px;
      }
      .timestamp {
        padding-left: 0;
        color: #00b6ef;
        border-right: solid 1px #ccc;
      }
      .user {
        color: #ccc;
      }
    }

  }
}

.visible {
  opacity: 1;  /* make things invisible upon start */
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}
