<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Ember Starter Kit</title>
  <%= stylesheet_link_tag    "dashboard", media: "all" %>
  <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
  <%= javascript_include_tag "dashboard" %>
</head>
<body>

  <script>
    window.project_id = <%= @id %>;
  </script>

  <script type="text/x-handlebars">
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="index">
    <div class="row full">
      {{tracker-feed}}
      {{github-feed notifications=sortedNotifications}}
      {{travis-climate-feed}}
    </div>
  </script>

  <script type="text/x-handlebars" id="components/tracker-feed">
    <div class="tracker data-column four columns">
    </div>
  </script>

  <script type="text/x-handlebars" id="components/travis-climate-feed">
    <div class="climate-travis data-column four columns">
      <div class="climate">
        Climate
      </div>
      <div class="travis">
        Travis
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="components/github-feed">
    <div class="github data-column four columns">
      {{#each item in notifications}}
        {{github-notification notification=item}}
      {{/each}}
    </div>
  </script>

  <script type="text/x-handlebars" id="components/user-avatar">
    <img {{bind-attr src=avatarUrl alt=email}}>
  </script>

  <script type="text/x-handlebars" id="components/time-stamp">
    {{format-time time}}
  </script>

  <script type="text/x-handlebars" id="components/github-notification">
    <div {{bind-attr class="notification.elementId :github-notification :notification :flat"}}>
      <div class="notification-wrap hidden">
        <div class="avatar">
          {{user-avatar email=notification.email}}
        </div>
        <div class="notification-data">
          <div class="header">
            <span class="type">
              COMMIT
            </span>
            <span class="hash">
              #{{ notification.tinyHash }}
            </span>
            <div class="code-change">
              <span class="additions">
                {{#if notification.additions}}
                  +{{ notification.additions }}
                {{/if}}
              </span>
              <span class="subtractions">
                {{#if notification.subtractions }}
                  +{{ notification.subtractions }}
                {{/if}}
              </span>
            </div>
          </div>
          <div class="description">
            <p>{{ notification.message }}</p>
          </div>
          <div class="notification-info">
            <span class="timestamp">
              {{time-stamp time=notification.creationDate}}
            </span>
            <span class="user">
              {{ notification.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </script>

</body>
</html>
