<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>FooFoBerry!</title>
  <%= stylesheet_link_tag    "dashboard", media: "all" %>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://js.pusher.com/2.1/pusher.min.js"></script>
  <%= javascript_include_tag "dashboard" %>
</head>
<body>

  <script type="text/x-handlebars">
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="index">
    <div class="row full">
      {{tracker-feed notifications=sortedTrackerNotifications}}
      {{github-feed notifications=sortedHubNotifications}}
      {{travis-climate-feed stats=climateStats status=buildStatus}}
    </div>
    <div class="footer">
      <div class="project-name">
        <h2><%= @project.name %></h2>
      </div>
      <div class="aggregate-stats">
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="components/tracker-feed">
    <div class="tracker data-column four columns">
      {{#each item in notifications}}
        {{tracker-notification notification=item}}
      {{else}}
        <div class="no-notifications tracker">
          <h3>You don't have any Tracker notifications yet.</h3>
        </div>
      {{/each}}
    </div>
  </script>

  <script type="text/x-handlebars" id="components/travis-climate-feed">
    <div class="climate-travis data-column four columns">
      <div class="climate">
        <div class="climate-data">
          {{climate-chart width=350 height=350 stats=stats}}
          <div class="climate-gpa">
            <span class="gpa">Loading...</span><br>
            <span class="label">GPA</span>
          </div>
        </div>
      </div>
      <div class="travis default">
        <div class="travis-data">
          <h3 class="label">Build Status</h3>
          <h4 class="status">{{ status }}</h4>
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="components/github-feed">
    <div class="github data-column four columns">
      {{#each item in notifications}}
        {{github-notification notification=item}}
      {{else}}
        <div class="no-notifications github">
          <h3>You don't have any GitHub notifications yet.</h3>
        </div>
      {{/each}}
    </div>
  </script>

  <script type="text/x-handlebars" id="components/user-avatar">
    <img {{bind-attr src=avatarUrl alt=email}}>
  </script>

  <script type="text/x-handlebars" id="components/time-stamp">
    {{format-time time}}
  </script>

  <script type="text/x-handlebars" id="components/tracker-notification">
    <div {{bind-attr class="notification.elementId notification.kind :tracker-notification :notification :flat"}}>
      <div class="notification-wrap hidden">
        <div class="avatar">
          <span>{{ notification.initials }}</span>
        </div>
        <div class="notification-data">
          <div class="header">
            <span class="type">
              {{ notification.changeType }} {{ notification.kind }}
            </span>
            <span class="hash">
              {{ notification.storyId }}
            </span>
            <div class="code-change">
              <span class="additions">
                {{#if notification.additions}}
                  +{{ notification.additions }}
                {{/if}}
              </span>
              <span class="subtractions">
                {{#if notification.subtractions }}
                  +{{ notification.subtractions }}
                {{/if}}
              </span>
            </div>
          </div>
          <div class="description">
            <p>{{ notification.name }}</p>
          </div>
          <div class="notification-info">
            <span class="timestamp">
              {{time-stamp time=notification.creationDate}}
            </span>
            <span class="user">
              {{ notification.userName }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </script>


  <script type="text/x-handlebars" id="components/github-notification">
    <div {{bind-attr class="notification.elementId :github-notification :notification :flat"}}>
      <div class="notification-wrap hidden">
        <div class="avatar">
          {{user-avatar email=notification.email}}
        </div>
        <div class="notification-data">
          <div class="header">
            <span class="type">
              COMMIT
            </span>
            <span class="hash">
              #{{ notification.tinyHash }} :: {{ notification.repoName }}
            </span>
            <div class="code-change">
              <span class="additions">
                {{#if notification.additions}}
                  +{{ notification.additions }}
                {{/if}}
              </span>
              <span class="subtractions">
                {{#if notification.subtractions }}
                  +{{ notification.subtractions }}
                {{/if}}
              </span>
            </div>
          </div>
          <div class="description">
            <p>{{ notification.message }}</p>
          </div>
          <div class="notification-info">
            <span class="timestamp">
              {{time-stamp time=notification.creationDate}}
            </span>
            <span class="user">
              {{ notification.name }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </script>

</body>
</html>
